.animDelay02{
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}

.delay_05 {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

.delay_1 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.delay_15 {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.delay_2 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
