.box-header{
    //margin-top: 66px;
    font-weight: 400;
}

.box-header:after {
    display: block;
    content: "";
    background: #1E69B8;
    width: 40px;
    height: 2px;
    margin-top: 13px;
    margin-top: 20px;
}

p.description
{
	font-size: 18px;
	font-weight: 300;
	line-height: 32px;
	padding: 0;
	margin-top: 34px;
	letter-spacing: 0px;
}

p
{
	padding: 1em 0;
	color: #777;
	line-height: 26px;
}
