.panel-default>.panel-heading{
    color: #333;
    background-color: #FFFFFF;
    border-color: #1E69B8 !important;
}

.panel-title> a:HOVER, .panel-title> a:ACTIVE, .panel-title> a:FOCUS {
    color: #1E69B8;
    text-decoration: none;
}
