.contact{
    background-color: #fff;
    height: 200px !important;
    background-image: url('../img/borders/papers_btm.png');
    background-size: contain;
    background-repeat: repeat-x;
    background-position: bottom;
    padding: 80px 0px !important;
    .row{
        height: 140px !important;
    }
    .btn{
        background-color: #ff9b1d;
        color: #fff;
        padding: 22px 82px;
        margin: auto;
        text-shadow: 0 2px 2px #db6d14;
        border: 1px solid #db6d14;
        &:HOVER{
            background-color: #ffb44e;
            box-shadow: 0 4px 4px -3px rgba(0,0,0,0.2);
        }
    }
}
