.features-list h4
{
	padding-bottom: 5px;
    text-align: center;
}
.features-list p
{
	font-family: 'Open Sans';
	font-size: 14px;
	line-height: 24px;
	padding: 0;
	margin-top: 16px;
	margin-left: 78px;
    text-align: center;
}
.features-list.big h4
{
	margin-top: 66px;
}
.features-list.big h4:after
{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
.features-list.big p
{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}
.features-list.big .ornament
{
	position: relative;
	width: 1px;
	height: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 13px;
	background: #E2E6E7;
}
.features-list.big .ornament:after
{
	position: absolute;
	content: "";
	border: 1px solid #E2E6E7;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 11px;
	height: 11px;
	left: -6px;
	bottom: -13px;
}
