.foot{
    background-color: #73767A !important;
    color: #fff !important;
    height: 100px !important;
    h1, h2, h3, h4{
        color: #fff !important;
        font-weight: normal;
    }
    a{
        color: #fff !important;
        text-align: center;
        display: block;
        margin-top: 17px;
    }
    & > .row {
        display: table;
        height: 200px !important;
    }
    text-align: center;
}

.foot h1{
    color: #fff;
}
