.head{
    //position: fixed;
    width: 100%;
    z-index: -1;
    background-color: #363636;
    height: 800px;
    background-position: center center;
    background-size: cover;
    padding: 190px 150px;
    color: #fff;
}

@media only screen and (max-width: 920px) {
    .head{
        padding: 180px 80px;
    }
}

.head_copy{
    font-size: 1.9rem;
    font-weight: 100;
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 0;
    display: block;
    color: #fff;
    text-shadow: 0 2px 3px rgba(0,0,0,0.4);
}

.head_copy h1{
    /*border-bottom: 2px solid #d8d8d8;*/
    margin-bottom: 22px;
    font-size: 42px;
    color: #fff;
}

.background {
    background-image: url('../img/head_back_dark.png');
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-attachment: fixed;
}

.head_search_bar{
    margin: auto;
    margin-top: 32px;
    max-width: 420px;
}
