.hexagon div:before {
	position: relative;
	z-index: 2;
	color: #1E69B8;
	clear: both;
	float: none;
	display: block;
	font-size: 48px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}

.hexagon div:before:HOVER {
	background-color: #1E69B8;
}

.hexagon:HOVER{
	background-color: #1E69B8;
	.glyphicon{
		color: #fff;
	}
}

.hexagon {
	position: relative;
	width: 116px;
	height: 66.97px;
	background-color: transparent;
	margin: 33.49px 0;
	border-left: solid 2px #1E69B8;
	border-right: solid 2px #1E69B8;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	transform: rotate(0.0001deg);
	-webkit-transform: rotate(0.0001deg);
	-ms-transform: rotate(0.0001deg);
	-webkit-backface-visibility: hidden;
	display: table;
	text-align: center;
	.glyphicon{
		margin: auto;
		display: table-cell;
		vertical-align: middle;
	    font-size: 38px;
		left: 0px;
		color: #2875c7;
		z-index: 2;
	}
}
.hexagon:before,
.hexagon:after {
	content: "";
	position: absolute;
	z-index: 1;
	width: 82.02px;
	height: 82.02px;
	-webkit-transform: scaleY(0.5774) rotate(-45deg);
	-ms-transform: scaleY(0.5774) rotate(-45deg);
	transform: scaleY(0.5774) rotate(-45deg);
	background-color: inherit;
	left: 14.9878px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.hexagon:before {
	top: -41.0122px;
	border-top: solid 2.8284px #1E69B8;
	border-right: solid 2.8284px #1E69B8;
}
.hexagon:after {
	bottom: -41.0122px;
	border-bottom: solid 2.8284px #1E69B8;
	border-left: solid 2.8284px #1E69B8;
}
.hexagon.small div::before {
	padding: 2px;
}
.hexagon.small {
	width: 90px;
	height: 51.96px;
	margin: 25.98px auto;
	border-left: solid 1px #E2E6E7;
	border-right: solid 1px #E2E6E7;
}
.hexagon.small:before,
.hexagon.small:after
{
	width: 63.64px;
	height: 63.64px;
	left: 12.1802px;
}
.hexagon.small:before
{
  top: -31.8198px;
  border-top: solid 1.4142px #E2E6E7;
  border-right: solid 1.4142px #E2E6E7;
}
.hexagon.small:after
{
  bottom: -31.8198px;
  border-bottom: solid 1.4142px #E2E6E7;
  border-left: solid 1.4142px #E2E6E7;
}
