html {
    font-size: 54%;
    @media screen and (min-width: 600px) {
        font-size: 62.5%;
    }
}

body{
    //height: 5600px;
    color: #323e42;
    position: relative;
    background-color: #212121;
    font-size: 1.2rem;
    line-height: 1.45;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    font-weight: 600;
    letter-spacing: 1px;
}

.row{
    width: 100%;
}



/* EXTRA */

#print_1{
    z-index: 80;
    position: absolute;
    top: 1500px;
    right: 8%;
}
#print_2{
    z-index: 200;
    position: absolute;
    top: 1500px;
    right: 8%;
}
#scan_1{
    z-index: 200;
    position: absolute;
    top: 3250px;
    left: 3.7%;

}


[class*="bg__"] {
  height: 50vh;

  text-indent: -9999px;

  /* fix background */
  background-attachment: fixed;

  /* center it */
  background-position: center center;

  /* Scale it nicely to the element */
  background-size: cover;

  /* just make it look a bit better ;) */
  &:nth-child(2n) {
    box-shadow: inset 0 0 1em #111;
  }
}

.bg__foo {
  background-image: url(
    ../img/drop_big.png
  );
}

.bg__bar {
  background-image: url(
    ../img/drop_big.png
  );
}

.bg__baz {
  background-image: url(
    ../img/drop_big.png
  );
}

.bg__bazz {
  height: 100vh;

  background-image: url(
    ../img/drop_big.png
  );
}

.sweet-alert{
    h2{
        text-transform: uppercase !important;
    }
}
