.navbar{
    height: 70px;
    background-color: #33495e;
    border-color: transparent;
}
.nav > li{
    margin-top: 0;
}
@media (min-width: 768px){
    .navbar-nav>li>a {
        padding: 3px 12px 5px;
        font-size: 16px;
        margin: 20px 8px;
        border-radius: 1px;
        color: #fff !important;
        -webkit-transition: background-color 0.3s; /* Safari */
        transition: background-color 0.3s;
        border-radius: 50px;
    }
    .navbar-default .navbar-nav>.active>a.site, .navbar-default .navbar-nav>.active>a.site:focus, .navbar-default .navbar-nav>.active>a.site:hover {
        color: #fff !important;
        background-color: #3a82cf !important;
    }
    .navbar-nav>li>a.site:HOVER{
        background-color: #3a82cf !important;
        color: #fff !important;
    }
    .navbar-nav>li>a.site:FOCUS{
        background-color: #3a82cf !important;
    }
}

@media (max-width: 980px){
    .navbar-right {
        float: right!important;
    }
    .navbar-nav>li>a {
        margin: 20px 2px;
    }
}

.navbar-c-button{
    background-color: #ff9b1d !important;
    color: #fff;
    margin: auto;
    text-shadow: 0 2px 2px #db6d14;
    border-radius: 50px !important;
    &:HOVER{
        background-color: #ffb44e !important;
        box-shadow: 0 4px 4px -3px rgba(0,0,0,0.2);
    }
    color: #fff !important;
}

.navbar-c-button:HOVER{
    background-color: #52d2ff;
}

.logo_banner{
    text-align: center;
    width: 100%;
    padding-top: 14px;
    position: absolute;
    top: 0;
    left: 0;
}

.logo_banner img{
    height: 42px;
    padding: 6px;
    transition: padding .2s ease-in-out;
    &:HOVER{
        padding: 2px;
    }
}
