
.section{
    background-color: #fff;
    height: 100%;
    height: 100vh;
    max-height: 700px;
    padding: 80px 150px;
    display: table;
    width: 100%;
}

@media only screen and (max-width: 920px) {
    .section{
        padding: 80px 80px;
    }
}

#plane{
    display: none;
    position: relative;
}

#plane.active{
    display: block;
}

.section .row{
    display: table;
    height: 400px;
}
.section .row > div{
    padding-top: 42px;
    display: table-cell;
    float: initial;
}
.section .row > .segment-img{
    vertical-align: middle;
}
.section h1{
    font-family: 'Roboto Condensed', sans-serif;
    color:#434e5a;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: .2px;
    line-height: 1.3;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
}
.section h2{
    font-size: 16px;
    color: #8f989c;
    font-weight: normal;
    font-family: 'Merriweather', serif;
    line-height: 1.5em;
}
.section.alt{
    background-color: #f3f3f7;
}
.scrollmagic-pin-spacer{
    z-index: 100;
}

.sec{
    left: 0;
    right: 0;
    height: 600px;
    //z-index: -1;
    //position: absolute;
}

.sec1{
    top: 800px;
    z-index: 0;
    height: 667px;
}

.sec2{
    top: 1467px;
}

.sec3{
    top: 2067px;
}

.sec4{
    top: 2667px;
}

.sec5{
    top: 3267px;
}

.sec6{
    top: 3867px;
}

.sec7{
    top: 4400px;
}

.sec8{
    top: 5000px;
}

.sec9{
    top: 5600px;
}

.section.dark{
    background-color: #313643;
    color: #fff;
}
