.title-box{
    text-align: center;
    h1{
        font-size: 3.2rem;
    }
    h1:after {
        display: block;
        content: "";
        background: #1E69B8;
        width: 40px;
        height: 2px;
        margin-top: 13px;
        width: 80px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    h4{
        padding-top: 25px;
        font-weight: 300;
        color: #777;
    }
}
